.categoryDetail{
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}
.AddCart{
    top: 140px;
    left: 80px;
    opacity: 0;
    transition: top 0.5s;
}
.Category:hover .AddCart{
    content: '';
    opacity: 1;
    top: 130px;
}